@use '../../styles//variables' as *;

.registerePage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .cover {
    background-color: white;
    width: 30em;
    padding: 40px 0;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;

    h1 {
      margin-bottom: 15px;
    }

    .inputsWrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 80%;
    }

    input {
      border: none;
      background-color: rgb(229, 226, 226);
      height: 4em;
      width: 80%;
      border-radius: 0.25em;
      text-align: center;
      padding: 2em;
    }

    .signup-btn {
      width: 40%;
      height: 3em;
      background-color: $btn-color;
      color: $primary-color;
      display: flex;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      border-radius: 0.25em;
      margin-top: 20px;
      outline: none;
      border: none;
      cursor: pointer;
    }

    .signup-btn:hover {
      background-color: $dark-background-second;
    }

    .text {
      position: relative;
      bottom: -2em;
    }

    .alt-signup {
      width: 80%;
      height: 3em;
      display: flex;
      justify-content: space-around;
    
      .google {
        width: 45%;
        height: 90%;
        border-radius: 0.25em;
        border: $border;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
        background-image: url("../img/google.webp");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }  
  }
  .dark & {
    h1 {
      color: $dark-background;
    }
  } 
}